################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/unit/adi.ch.dev.movies.ui/package-lock.json
/src/Movies-Frontend/adi.ch.dev.movies.ui/package-lock.json
